@keyframes gmod {
  0% {
    color: red;
  }
  50% {
    color: white;
  }
  100% {
    color: red;
  }
}

html, body {
  background: black;
  color: #DDD;
  text-align: center;
  font-family: sans-serif;
  font-size: 16pt;
}

#gamebox {
  border: 1px solid green;
  margin: auto;
  max-width: 350px;
  position: relative;
  overflow: hidden;
}
div#gamebox.over:before {
    display: block;
    content: '';
    background: rgba(0,0,0,0.85);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
}
div#gamebox.over:after {
    display: block;
    content: "IT'S OVER!";
    position: absolute;
    transform: translate(-50%,-50%) rotate(45deg);
    color: red;
    text-shadow: 0 0 5px BLACK;
    left: 50%;
    top: 50%;
    font: 50pt Arial;
    width: 150%;
    z-index: 100;
}
.pad {
  margin: auto;
  padding: 25px;
}
.box {
  height: 100px;
  width: 100px;
  border: 1px solid green;
  overflow: hidden;
  position: relative;
}
.flex {
  display: flex;
  flex: 1 0 0;
}
.col {
  flex-direction: column;
}
button#raedy {
  appearance: none;
  border-radius: 0;
  border: 2px solid green;
  font: 14pt monospace;
  color: green;
  background: black;
  cursor: pointer;
  padding: 0.25em 0.5em;
  position: absolute;
  left: 50%;
  top: 480px;
  transform: translateX(-50%);
}
.box div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transform: translateY(0%);
  opacity: 1;
  transition: transform 50ms, opacity 50ms;
  cursor: pointer;
  touch-action:none;
  -webkit-tap-highlight-color: transparent
}
.box div.ral {
  background-image: url("./res/gote.png");
}
.box div.ral.hit {
  background-image: url("./res/gote2.png");
}
.box div.spam {
  background-image: url("./res/spam.png");
}
.box div.spam.hit {
  background-image: url("./res/spam2.png");
}
.box div.down {
  opacity: 0;
  transform: translateY(100%);
}

.italic { font-style: italic; }
.small { font-size: 0.75em; }

.error, code {
  font-size: 10pt;
  white-space: pre-wrap;
}

.error {
  font-family: 1.5em !important;
  font-weight: bold;
  font-style: italic;
}

.rules {
  border-radius: 5px;
  background: url('./res/woodtex.jpg');
  background-size: cover;
  color: rgb(53, 28, 12);
  display: inline-block;
  position: absolute;
  top: 250px;
  left: 50%;
  width: 280px;
  transform: translateX(-50%) rotate(5deg);
  box-shadow: 4px 4px 0 4px rgb(53, 28, 12);
  font-family: cursive; /*TODO: webfont*/
}
.rules.hidden {
  opacity: 0;
  transition: opacity 500ms;
}

#playercard {
  font-family: cursive;
  background: white;
  color: black;
  border-radius: 8px;
  width: 280px;
  height: 100px;
  padding-left: 120px;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
  margin: auto;
  transform: rotate(-5deg);
}
#playercard h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  color: red;
  margin: 0;
}
#playercard .pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 8px;
  top: 16px;
}

h1.gmod {
  animation: gmod 1s infinite linear;
}